:root {
    --main-shadow: 5px 5px 10px rgb(128, 128, 128, .5);
    --grey: rgba(161, 160, 160, 0.435);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.trending img {
    width: 15px;
}

.entire-page {
    display: grid;
    grid-template-columns: minmax(170px, 1fr) 5fr;
}

.dashboard {
    grid-row: 1 / 3;
    background-color: rgb(5, 121, 230);
    color: white;
    padding: 1rem;
}

.dashboard svg {
    width: 15px;
    fill: white;
}

.dashboard-title {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.dashboard-title svg {
    min-width: 2rem;
}

.dashboard-title ~ div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem .5rem;
}

.top-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0rem 2rem;
    box-shadow: var(--main-shadow);
}

.top-bar svg{
    width: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    background-color: var(--grey);
    border: none;
    border-radius: .5rem;
    height: 20px;
    flex-grow: 1;
}

.name-bar, .post {
    justify-self: end;
    align-self: center;
}

.name-bar p {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.name-bar img {
    width: 3rem;
    border-radius: 1rem;
}

.hi-there {
    display: grid;
    grid-template-columns: .5fr 4fr;
    font-weight: bold;
    align-items: center;
}

.hi-there img {
    width: 5rem;
    grid-row: 1 / 3;
    border-radius: 2rem;
    justify-self: center;
}

.hi-there :nth-child(n+2) {
    margin-left: 1rem;
}

.hi-there img + p {
    margin-bottom: .3rem;
}

.hi-there :last-child {
    font-size: 1.5rem;
    margin-top: .5rem;
}

.post {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.post button {
    background-color: rgb(5, 121, 230);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 2rem;
}

.body-BC {
    background-color: var(--grey);
}

.main-body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0rem 2rem;
}

.project-cards, 
.announcement-cards div,
.trending div {
    background-color: white;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


.projects img {
    width: 15px;
}

.projects h3 {
    grid-column: 1 / 3;
    margin-bottom: 0px;
}

.project-cards {
    box-shadow: 
        /* inset 5px 0px orange, */
        var(--main-shadow);
    border-radius: .5rem;
    height: 14rem;
    padding: 0rem 2rem;
    display: grid;
    align-content: start;
    position: relative;
}

.project-cards span {
    position: absolute;
    width: .5rem;
    height: 14rem;
    background-color: orange;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.project-cards-img {    /* div containing image icons */
    justify-self: end;
    display: flex;
    gap: 1rem;
    margin: 3rem 0rem;
}

.project-cards img {
    width: 20px;
}

.project-cards h4 {
    margin-bottom: 0px;
}

.project-cards p {
    margin-top: 0px;
    height: 5rem;
}

.announcements {
    margin-left: 2rem;
}

.announcement-cards {
    box-shadow: var(--main-shadow);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.announcement-cards :first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.announcement-cards :last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.announcement-cards div > div {
    padding: 2rem;
}

.announcement-cards > div > div > h5,
.announcement-cards > div > div > p {
    margin: 0px;
}

.announcement-cards span {
    position: absolute;
    left: 12%;
    background-color: grey;
    height: 1px;
    width: 75%;
}